.input{
  width: 300px;
  border: solid 2px black;
  border-radius: 10px;

}
.button-form{
  width: 200px;
  height: 40px;
  margin: 0px 20px;
}
.form{
  display: flex;
  justify-content: center;
  margin: 100px;
}
.lista{
  border: solid 2px black;
  font-family: sans-serif;
  font-weight: bold;
}